.header-text {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.cell-text {
    font-size: 0.9rem;
    cursor: pointer;
}

.set-cursor-pointer {
    cursor: pointer;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
