<button (click)="addFilter()" class="btn btn-success rounded-0 mt-1 mb-1" type="button">
  <fa name="plus-circle" size="lg"></fa>Filter
</button>

    <div class="row mb-1" *ngFor="let filter of filters;let i = index">
    <div class="col">
    <div class="dropdown d-inline" [ngClass]="{'show':dropdown[i]}">
      <button (click)="toggleDropdown(i)" class="btn dropdown-toggle rounded-0" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        {{filter.name}}
      </button>
      <div class="dropdown-menu rounded-0" [ngClass]="{'show':dropdown[i]}">
        <a class="dropdown-item set-cursor-pointer" (click)="setFilterProp('All', 'All', i)">All</a>
        <a class="dropdown-item set-cursor-pointer" (click)="setFilterProp(column.prop, column.name, i)" *ngFor="let column of columns">{{column.name}}</a>
      </div>
    </div>
    <input [(ngModel)]="filter.value" (input)="filter_()" type="text" class="form-control rounded-0 d-inline" style="width:140px;">

    <button (click)="removeFilter(i)" class="btn btn-danger rounded-0" type="button">
        <fa name="minus-circle" size="lg"></fa>
    </button>
  </div>
  </div>


<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="bg-primary text-white">
        <th class="header-text" *ngFor="let column of columns">{{column.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredRows">
          <td *ngFor="let column of columns" class="cell-text">{{row[column.prop]}}</td>
      </tr>
    </tbody>
  </table>
</div>

